{% extends 'base.html' %}   


{% block content %}

    <h1>Delete Dragon Profile</h1>
    <hr>
<div class="container-md bg-danger bg-opacity-10 p-4 mb-4">
    <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>'s profile?</h4>

    <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn btn-dark">
    <a href="{% url 'detail' dragon.id %}" class="text-muted mx-4">Cancel</a>
    </form>
</div>
{% endblock content %}
    