{% extends 'base.html' %}
{% block content %}

<h1>Toy Details</h1>


<div class="row row-col-2">
  <div class="card w-50 mb-3 p-3">
    <div class="card-body">
      <h3 class="card-title">{{ toy.name }}</h3>
      <p class="card-text"> Color: {{ toy.color }}</p>
    </div>
    <div>
      <a href=" {% url 'toys_update' toy.id%}" class="card-link text-muted mx-3">Edit</a>
      <a href=" {% url 'toys_delete' toy.id%}" class="card-link text-muted mx-3">Delete</a>
    </div>
  </div>
  {% endblock %}