{% extends 'base.html' %}
{% block content %}

  <h1 class="px-3 py-3">Dragon Details</h1>
  <hr>

<div class="row row-col-2">
  <div class="card w-50 mb-3 p-3">
    <div class="card-body">
      <h3 class="card-title">{{ dragon.name }}</h3>
      <p class="card-text">Description: {{ dragon.description }}</p>
      <p class="card-text"><small class="text-muted">
        {% if dragon.age > 0 %}
        <h6 class="card-subtitle mb-2 text-muted">Age: {{ dragon.age }}</h6>
    {% else %}
        <h6 class="card-subtitle mb-2 text-muted">Age: Hatchling</h6>
    {% endif %}</small></p>
    </div>
    <div>
      <a href=" {% url 'dragons_update' dragon.id%}" class="card-link text-muted mx-3">Edit</a>
      <a href=" {% url 'dragons_delete' dragon.id%}" class="card-link text-muted mx-3">Delete</a>
    </div>
  </div>

  <div class="col-4">
    <form action="{% url 'add_feeding' dragon.id %}" method="post">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn btn-outline-success btn-sm my-3" value="Add Feeding">
    </form>
    <table class="table table-striped table-bordered">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in dragon.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div> 
<hr>
<div class="row row-col-2">
  <div class="col-6">
    <h3>{{ dragon.name }}'s Toys</h3>
    {% if dragon.toys.count %}
      {% for toy in dragon.toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toys :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  </div>
  <div class="col-6">
    <h3>Available Toys</h3>
    {% if toys.count %}
      {% for toy in toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_toy' dragon.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{cat.name}} Already Has All Toys Available</h5>
    {% endif %}
  </div>
</div>

 <script>
  
 </script> 


{% endblock %}
    