{% extends 'base.html' %}
{% block content %}

  <h1 class="px-3 py-3">Dragon Details</h1>
  <hr>

  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title">{{ dragon.name }}</h3>
      <p class="card-text">Description: {{ dragon.description }}</p>
      <p class="card-text"><small class="text-muted">
        {% if dragon.age > 0 %}
        <h6 class="card-subtitle mb-2 text-muted">Age: {{ dragon.age }}</h6>
    {% else %}
        <h6 class="card-subtitle mb-2 text-muted">Age: Hatchling</h6>
    {% endif %}</small></p>
    </div>
    <div>
      <a href=" {% url 'dragons_update' dragon.id%}" class="card-link text-muted mx-3">Edit</a>
      <a href=" {% url 'dragons_delete' dragon.id%}" class="card-link text-muted mx-3">Delete</a>
    </div>
    </div>


{% endblock %}
    